<html lang="en" ng-app="commonApp">
	<% include includes/header %>
	<body>
		<div ui-view="header"></div>
    <md-content class="md-padding">
		  <div ui-view="container"></div>
    </md-content>
		<% include includes/footer %>
	</body>
</html>