<div ng-if="!cartAs.cart.products.length" layout="row" layout-align="center center">
  <h1 class="md-display-3">Ваша корзина пуста</h1>
</div>
<div ng-if="cartAs.cart.products.length" layout="column" layout-align="center center">
  <table>
    <thead>
      <tr>
        <th>Имя</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cart in cartAs.cart.products">
        <td ng-bind="cart.name"></td>
        <td ng-bind="cart.description"></td>
        <td ng-bind="cart.price"></td>
        <td ng-bind="cart.quantity"></td>
      </tr>
    </tbody>
  </table>
  <div>Общая сумма: 
    <span ng-bind="cartAs.cart.totalSum"></span>
    <i class="material-icons">euro_symbol</i>
  </div>
</div>