 <md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="20" layout="column" ng-repeat="product in productAs.products">
      <md-card md-theme="default">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ng-bind="product.name"></span>
            <span class="md-subhead" ng-bind="product.description"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" layout="row" layout-align="center center">
              <div class="md-display-2" ng-bind="product.price"></div>
              <i class="material-icons">euro_symbol</i>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-between center">
          <div>
            <md-button ng-if="product.isShowDelete" ng-click="productAs.removeFromCart(product)"><i class="material-icons">remove_shopping_cart</i></md-button>
          </div>
          <div ng-if="product.isShowAdd" layout="row" layout-align="space-around center">
            <md-select ng-model="product.valueToAdd" aria-label="range">
              <md-option ng-repeat="value in product.ranges" value="{{value}}">
                {{value}}
              </md-option>
            </md-select>
            <md-button ng-click="productAs.addToCart(product)"><i class="material-icons">add_shopping_cart</i></md-button>
          </div>
        </md-card-actions>
      </md-card>
  <div>
</md-content>