<md-toolbar>
	<div class="md-toolbar-tools">
    <md-button aria-label="Cart" ui-sref="base.products">
      <div>Продуктовая корзина</div>
    </md-button>
    <span flex></span>
    <md-button class="md-icon-button product-cart-container" aria-label="Cart" ui-sref="base.cart">
      <i class="material-icons">shopping_cart</i>
      <span ng-if="header.productsCount > 0" class="products-count" ng-bind="header.productsCount"></span>
    </md-button>
  </div>
</md-toolbar>
