 .product-cart-container {
    position: relative;
 }

 .products-count  {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    z-index: 9999;
    background-color: red;
    border-radius: 16px;
    top: 2px;
}