	<head>
		<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="/build/css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="initial-scale=1" />

		<title>Ivan Test</title>
	</head>